.conteiner{
    display: flex;
    justify-content: center;
    gap:10%;
    background-color: aquamarine;
    height: 550px;
    
}
.buttonform{
    margin-top: 20%;

}
.buttontable{
    margin-top: 20%;

}
